  img#img1,img#img2,img#img3, div{
    display: inline-block;
  }
 
  h1 {
    font-family: arial;
    font-size: 150%;
    font-style: normal;
  }

  p {
    font-family: arial;
    font-size: 16px;
    font-style: normal;
  }
  
  div{
    font-family: arial;
    font-size: 12px;
    font-style: normal;
  }
  
  a {
    font-family: arial;
    font-size: 12px;
    font-style: normal;
  }

  /*Link não visitado */
  a:link {
    color: green;
    text-decoration: none;
  }
    
  /*Link já visitado*/
  a:visited {
    color: blue;
    text-decoration: none;
  }
    
  /*Quando o mouse passa por cima*/
  a:hover {
    color: purple;
    text-decoration: none;
  }
    
  /*Link ativo/selecionado*/
  a:active {
    color: yellow;
    text-decoration: none;
  }

  a#link1, a#link2 {
    font-family: arial;
    font-size: 16px;
    font-style: normal;
  }    
