    h1{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 150%;
       font-style: normal; 
    }

    p{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-style: normal;  
    }
    
    a {
      font-family: arial;
      font-size: 16px;
      font-style: normal;
    }

  /*Link não visitado */
    a:link {
      color: green;
      text-decoration: none;
    }
    
    /*Link já visitado*/
    a:visited {
      color: blue;
      text-decoration: none;
    }
    
    /*Quando o mouse passa por cima*/
    a:hover {
      color: purple;
      text-decoration: none;
    }
    
    /*Link ativo/selecionado*/
    a:active {
      color: yellow;
      text-decoration: none;
    }